html {
  text-align: center;
}
.Top {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}
h1 {
  font-family: Helvetica, sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.tplink {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: white;
}
.proc {
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-family: Helvetica, sans-serif;
  font-size: 23px;
  font-weight: bold;
}
p {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}
.Mid {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  font-family: Helvetica, sans-serif;
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.Footer {
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
